@charset "UTF-8";

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
}

body {
   /* Set the background color of the whole document to a light gray. */
   background-color: rgb(238, 238, 238);
}

/* Make a major heading stand out. */
h1 {
   background-color: rgb(221, 238, 255);
   color: rgb(68, 0, 17);
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
}

/* Center all h2 elements. */
h2 {
   text-align: center;
}

/* Style the original results table. */
.resultsTable {
   border-color: rgb(68, 0, 17);
   border-style: solid;
   border-width: 1px;
   padding: 9px;
}

.tableCell{
   border-color: rgb(68, 0, 17);
   border-style: solid;
   border-width: 1px;
   padding: 9px;
}

/* Add style to a greeting that's become more enthusiastic. */
.greeting.enthusiastic {
   background-color: rgb(68, 0, 17);
   color: rgb(255, 255, 255);
   font-size: 150%;
   font-style: italic;
}