@charset "UTF-8";

/* Fixing the box-sizing attribute will make sizing boxes easier */
html {
   box-sizing: border-box;
}

body {
   /* Set the background color of the whole document to a light gray */
   background-color: rgb(238, 238, 238);
}

/* Make heading stand out */
h1 {
   background-color: rgb(221, 238, 255);
   color: rgb(68, 0, 17);
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
}

/* Anchor footer to bottom of page */
#bottom-of-page-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   margin-bottom: auto;
   text-align: center;
   font-size: 200%;
}

/* Make input text boxes longer */
#id-input {
   width: 50%;
}
#title-input {
   width: 50%;
}
#text-input {
   width: 50%;
}
#query-input {
   width: 50%;
}

/* Center all h2 elements */
h2 {
   text-align: left;
}

/* Style the results table */
.resultsTable {
   border-color: rgb(68, 0, 17);
   border-style: solid;
   border-width: 1px;
   padding: 9px;
}

/* Format table cells */
.tableCell {
   border-color: rgb(68, 0, 17);
   border-style: solid;
   border-width: 1px;
   padding: 9px;
}